# Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.

Examples

is_symmetrical(7227) ➞ True
is_symmetrical(12567) ➞ False
is_symmetrical(44444444) ➞ True
is_symmetrical(9939) ➞ False
is_symmetrical(1112111) ➞ True

In [11]:
def is_symmetrical(num):
    a= str(num)
    rever_digit= a[::-1]
    if a == rever_digit:
         print(f'Num {num} is symmetrical and reverse number is {rever_digit}')
    else:
        print(f'Num {num} is not symmetrical and reverse number is {rever_digit}')

In [12]:
is_symmetrical(7227)

Num 7227 is symmetrical and reverse number is 7227

In [13]:
is_symmetrical(12567)

Num 12567 is not symmetrical and reverse number is 76521

In [14]:
is_symmetrical(44444444)

Num 44444444 is symmetrical and reverse number is 44444444

In [15]:
is_symmetrical(9939)

Num 9939 is not symmetrical and reverse number is 9399

In [16]:
is_symmetrical(1112111)

Num 1112111 is symmetrical and reverse number is 1112111

# Question 2
Given a string of numbers separated by a comma and space, return the product of the
numbers.

Examples

multiply_nums(&quot;2, 3&quot;) ➞ 6
multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
multiply_nums(&quot;10, -2&quot;) ➞ -20

In [17]:
def multiply_nums(s):
    s = s.replace(' ', "")
    s = s.split(',')
    sum = 1
    for i in s:
        sum = sum * int(i)
    return sum

In [18]:
multiply_nums('2, 3')

6

In [19]:
multiply_nums('1, 2, 3, 4')

24

In [20]:
multiply_nums('54, 75, 453, 0')

0

In [21]:
multiply_nums('10, -2')

-20

# Question 3
Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181
square_digits(2483) ➞ 416649
square_digits(3212) ➞ 9414

In [22]:
def square_digits(num):
    z = ''.join(str(int(i)**2) for i in str(num))
    return int(z)

In [23]:
square_digits(9119)

811181

In [24]:
square_digits(2483)

416649

# Question 4
Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
setify([4, 4, 4, 4]) ➞ [4]
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [25]:
def setify(lst):
    return list(set(lst))

In [26]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [27]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

# Question 5
Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3
mean(12345) ➞ 3
mean(666) ➞ 6

In [28]:
def mean(n): 
    N = len(str(n)) 
    sum = 0
    
    for digit in str(n):
        sum += int(digit)       
    return int(sum/N)

In [29]:
mean(42)

3

In [30]:
mean(12345)

3

In [31]:
mean(666)

6